/* Contacts.css */

.contact-layout {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem 0;
}

.contact-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (min-width: 768px) {
  .contact-content {
    flex-direction: row;
    gap: 4rem;
  }
}

.contact-card {
  background-color: var(--bg-medium);
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  flex: 1;
}

.contact-card.contact-form-card {
  min-width: 400px;
}

.contact-card .card-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
  margin-bottom: 1.5rem;
  text-align: center;
}

.social-info-card {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.social-info-card p {
  line-height: 1.5;
  color: var(--text-secondary);
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-label {
  display: block;
  color: var(--text-secondary);
  font-size: 0.875rem;
}

.form-input,
.form-textarea {
  width: 100%;
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid #444;
  background-color: var(--bg-light);
  color: var(--text-color);
  font-size: 1rem;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.form-input:focus,
.form-textarea:focus {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 0 0 0 3px rgba(250, 204, 21, 0.3);
}

.submit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 1.5rem;
  background-color: var(--primary-color);
  color: var(--bg-dark);
  font-weight: 600;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  align-self: flex-end;
}

.submit-button:hover {
  background-color: var(--secondary-color);
}

.social-icons-wrapper {
  margin-top: auto; /* Empurra os ícones para o final do card */
}

.social-icons-container {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

.social-icon {
  color: var(--text-secondary);
  transition: color 0.2s ease;
}

.social-icon:hover {
  color: var(--primary-color);
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
}
