.page-title {
  font-family: 'Poppins', sans-serif; /* Uma fonte elegante e moderna */
  font-size: 2.5rem; /* Um tamanho bom pra chamar atenção */
  font-weight: 700; /* Pra deixar o texto mais forte */
  color: #333; /* Uma cor escura, mas não preto chapado */
  text-align: center; /* Pra centralizar o título na página */
  text-transform: uppercase; /* Pra deixar as letras maiúsculas */
  letter-spacing: 2px; /* Pra dar um espaço entre as letras e dar um charme */
  margin-bottom: 20px; /* Pra afastar o título do conteúdo abaixo */
  position: relative; /* Pra poder usar o pseudo-elemento ::after */
}

.page-title::after {
  content: ''; /* Essencial para criar o elemento */
  display: block; /* Pra ele ocupar a linha toda */
  width: 80px; /* Largura da linha */
  height: 4px; /* Altura da linha */
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% ); /* Uma cor de destaque pra linha, pode ser a cor principal do teu projeto */
  margin: 10px auto 0; /* Centraliza a linha e dá um espaço */
  border-radius: 2px; /* Pra dar uma suavizada nas bordas da linha */
}
.home-card {
  text-align: center;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
  max-width: 1200px; /* Aumentei o max-width para melhor visualização */
}

@media (min-width: 768px) {
  .about-content {
    flex-direction: row;
    align-items: flex-start;
  }
}

.about-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: flex-start; /* Alinhamento à esquerda para o texto */
  flex-grow: 1;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.about-text-container {
  flex-grow: 1;
  line-height: 1.5;
  text-align: left;
}

/* Novo Estilo de Card da Home */
.card {
  position: relative;
  width: 190px;
  height: 254px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centraliza a foto verticalmente */
  align-items: center; /* Centraliza a foto horizontalmente */
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  margin-right: 3rem; /* Espaço entre o card e o texto */
}

.card::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 200px;
  height: 264px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.heading {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 700;
  margin-bottom: 0;
}

.card p:not(.heading) {
  font-size: 14px;
  margin-top: 0.5rem;
}

.card p:last-child {
  color: #e81cff;
  font-weight: 600;
}

.card:hover::after {
  filter: blur(30px);
}

.card:hover::before {
  transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}

.profile-photo-container {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  flex-shrink: 0;
}

.profile-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-text-container {
  flex-grow: 1;
  line-height: 1.5;
  text-align: left;
}

/* Estilos para os ícones sociais (renomeado para social-card) */
.social-links-container .social-card {
  max-width: fit-content;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 1rem;
  backdrop-filter: blur(15px);
  
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.192),
    inset 0 0 5px rgba(255, 255, 255, 0.274), 0 5px 5px rgba(0, 0, 0, 0.164);
  transition: 0.5s;
}

.social-links-container .social-card:hover {
  animation: ease-out 5s;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
}

.social-links-container .social-card ul {
  padding: 1rem;
  display: flex;
  list-style: none;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row; 
}

@media (max-width: 768px) {
    .social-links-container .social-card ul {
        flex-direction: column; 
    }
}

.social-links-container .social-card ul li {
  cursor: pointer;
}

.social-links-container .svg {
  transition: all 0.3s;
  padding: 1rem;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  color: rgb(255, 174, 0);
  fill: currentColor;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.3),
    inset 0 0 5px rgba(255, 255, 255, 0.5), 0 5px 5px rgba(0, 0, 0, 0.164);
}

.social-links-container .text {
  opacity: 0;
  border-radius: 5px;
  padding: 5px;
  transition: all 0.3s;
  color: rgb(255, 174, 0);
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  z-index: 9999;
  box-shadow: -5px 0 1px rgba(153, 153, 153, 0.2),
    -10px 0 1px rgba(153, 153, 153, 0.2),
    inset 0 0 20px rgba(255, 255, 255, 0.3),
    inset 0 0 5px rgba(255, 255, 255, 0.5), 0 5px 5px rgba(0, 0, 0, 0.082);
}

.social-links-container .iso-pro {
  transition: 0.5s;
}

.social-links-container .iso-pro:hover a > .svg {
  transform: translate(15px, -15px);
  border-radius: 100%;
}

.social-links-container .iso-pro:hover .text {
  opacity: 1;
  transform: translate(25px, -2px) skew(-5deg);
}

.social-links-container .iso-pro:hover .svg {
  transform: translate(5px, -5px);
}
